@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Inter, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  background-color: #f5f5f5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --font-color: #252b00;
  --color-black: #000000;
  --color-white: #ffffff;
  /* --primary-color: #ba5c3c; */
  --primary-color: #ff490f;
  --secondary-color: rgba(143, 153, 43, 0.8);

  /* Border Radius */
  --border-1: 0.25em;

  /* Margin */
  --margin-1: 0.5em;
  --margin-2: 0.75em;
  --margin-3: 1em;

  /* Font-Size */
  --font-xsmall: 12px;
  --font-small: 14px;
  --font-regular: 16px;
  --font-medium: 20px;
  --font-large: 32px;
  --font-xlarge: 48px;
  --font-xxlarge: 62px;

  /* Toast */
  --toastify-font-family: Inter;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.Toastify__toast {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

.form-input {
  border: 1px solid rgb(182, 178, 178);
  border-radius: var(--border-1);
  padding: 0.85em 1em;
  font-family: inherit;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 500;
}

.btn:hover,
.btn:focus {
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

a:visited,
a:focus {
  color: var(--color-black);
}

a:hover,
a:focus {
  color: var(--primary-color);
}

/* Image */

img {
  display: block;
  width: 100%;
}

.container {
  width: 80%;
}

.accent-color {
  color: var(--primary-color);
}
